.timer {
  display: flex;
  gap: 10px;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.value {
  font-size: 56px;
}
.label {
  font-size: 18px;
}

.start-btn {
  width: 79px;
  height: 31px;
  background-color: #099ede;
  border-radius: 100px;
  border-color: transparent;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  cursor: pointer;
}

.start-btn:disabled {
  background-color: grey;
  color: #beadad;
}
